---
import Section from "@/components/Section.astro";
import { work } from "cv.json";
---

<Section title="Experiencia laboral">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>
                <div class="date-container">
                    <time datetime={startDate}  data-title={startDate}> 
                    {startDate} {" - "}
                    </time>
                    
                    <time datetime={endDate !== "Actual" ? endDate : new Date().toISOString().split('T')[0]} data-title={endDate}>
                    {endDate !== "Actual" ? endDate : "Actual"}
                    </time>
                </div>
                </header>

                <footer>
                  <p>{summary}</p>
                  {highlights.map((highlight) => {
                    return <span>{highlight}</span>;
                  })}
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>

  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }


  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    background: #ffffff;
    color: #66626286;
    font-size: 0.6rem;
    font-weight: 500;
  }


  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease-in-out 0.5s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: 0.75rem;
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      "Courier New",
      monospace;
    position: absolute;
    padding: 0.2rem 0.5rem;
    bottom: -1.4rem;
    left: 50%;
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
  }

  [data-title] {
    position: relative;
  }

  .date-container {
    display: flexbox;
    align-items:;
    color: black
    border-radius: 4px;
    font-size: 0.9rem;
  }

  

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
